/* app.css */

/* 1. Semantic Tokens */
/* src/app.css */

/* --- Light Mode (Default) --- */
:root {
	--bg-back: hsl(0 0% 80%);
	--bg: hsl(0 0% 85%);
	--bg-front: hsl(0 0% 90%);
	--text: hsl(0 0% 5%);
	--text-muted: hsl(0 0% 30%);
	--shadow: hsl(0 0% 50%);
	--text-accent: hsl(0, 100%, 50%);
	
	--radius: 2rem;
	--radius-large: 4rem;
	--speed: 180ms;
	--icon-size: 2rem;
	--fonts: 'Helvetica Neue', Arial, sans-serif;
}

/* --- Dark Mode Overrides --- */
:root[data-theme='dark'] {
	--bg-back: hsl(0 0% 10%);
	--bg: hsl(0, 0%, 15%);
	--bg-front: hsl(0 0% 20%);
	--text: hsl(0 0% 95%);
	--text-muted: hsl(0 0% 70%);
	--shadow: hsl(0 0% 5%);
}

/* 2. Global Resets */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-back);
	color: var(--text);
	font-family: var(--fonts);
	transition:
		background-color var(--speed),
		color var(--speed);
}
/* Awsome scrollbaR */
body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg);
}

body::-webkit-scrollbar-thumb {
	background: var(--bg-front);
}
header,
footer,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
blockquote,
q {
	quotes: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* 3. Shared Global Utilities */
.button {
	cursor: pointer;
	border: none;
	background-color: var(--color-accent);
	border-radius: var(--radius-base);
	transition: all var(--transition-speed);
}
